%h1 Cesar
%table{:class => "table table-striped"}
  %thead
    %tr
      %th.span1 Cifra
      %th Frase criptografada
      %th Frase
  %tbody
    %tr
      %td= params[:cifra]
      %td.span4= params[:senha]
      %td= @frase

%a{:href => "/cesar", :class => "btn btn-primary"} 
  %i{:class => "icon-white icon-arrow-left"} 
  = "&nbsp;Voltar"