%br
%br
%a{:class => "btn btn-large btn-block btn-primary", :href => "/cesar"} Cesar
%a{:class => "btn btn-large btn-block btn-primary", :href => "/vigenere"} Vigenere
%a{:class => "btn btn-large btn-block btn-primary", :href => "/rail_fence"} Rail Fence
%a{:class => "btn btn-large btn-block btn-primary", :href => "/des"} DES (Simples)
%br
%br

%address
  %strong= "Antonio Josué de Lima Neto"
  %br
  %a{:href => "mailto: josuedsi@gmail.com"}josuedsi@gmail.com
%address
  %strong= "José Aprígio Neto"
  %br
  %a{:href => "mailto: aprigio_carneiro@hotmail.com"}aprigio_carneiro@hotmail.com