%br
%br
%a{:class => "btn btn-large btn-block btn-primary", :href => "/cesar"} Cesar
%a{:class => "btn btn-large btn-block btn-primary", :href => "/vigenere"} Vigenere
%a{:class => "btn btn-large btn-block btn-primary", :href => "#"} Rail Fence
%a{:class => "btn btn-large btn-block btn-primary", :href => "#"} DES (Simples)