%h1 Rail Fence
%br
%br
%table{:class => "table table-striped"}
  %thead
    %tr
      %th.span1 Chave
      %th Frase
      %th Frase criptografada
  %tbody
    %tr
      %td= @chave
      %td= params[:frase]
      %td= params[:senha]

%a{:href => "/rail_fence", :class => "btn btn-primary"} 
  %i{:class => "icon-white icon-arrow-left"} 
  = "&nbsp;Voltar"